### Hockey Teams to dataframe

we import the libraries

In [1]:
# selenium 4
from selenium import webdriver
from selenium.webdriver.firefox.service import Service as FirefoxService
from webdriver_manager.firefox import GeckoDriverManager

In [2]:
import time
from selenium.webdriver.common.by import By
import pandas as pd

We open the browser and load the link

In [3]:

driver = webdriver.Firefox(service=FirefoxService(GeckoDriverManager().install()))
url = "https://www.scrapethissite.com/pages/forms/?page_num=1"
driver.get(url)

time.sleep(3)

In [4]:
hockey = {}

In [5]:

table = driver.find_element(By.TAG_NAME,'table')

# Get all the rows of the table
rows = table.find_elements(By.TAG_NAME, 'tr')


# Inizialice list for the columns
data = []
columns = []

for row in rows:
    #Get the name of the columns
    names = row.find_elements(By.TAG_NAME, 'th')
    
    for col in names:
        columns.append(col.text)

In [6]:
# Get all the pages

page = 'https://www.scrapethissite.com/pages/forms/?page_num='

for i in range(1,25):
    pages = page + str(i)
    time.sleep(0.2)

    driver.get(pages)

    table = driver.find_element(By.TAG_NAME,'table')

    # Get all the rows of the table
    rows = table.find_elements(By.TAG_NAME, 'tr')

    for row in rows:
        cols = row.find_elements(By.TAG_NAME, 'td')
        cols = [col.text for col in cols]
        data.append(cols)

# Make a pandas dataframe
df = pd.DataFrame(data)
df.columns = columns
df = df.iloc[1:]

configure pandas to see the full dataframe

In [7]:
# Configura Pandas para mostrar DataFrames completos sin truncar
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

and set it default again

In [8]:
# Restaura el valor de pandas para mostrar dataframes truncados
pd.reset_option('all')

/tmp/ipykernel_60494/4005670879.py:2: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.reset_option('all')

In [11]:
# del data, col, columns, df

eliminate the nan rows

In [9]:
df.dropna(inplace=True)

We create the new index

In [12]:
df = df.reset_index()

### The Dataframe Extracted

In [13]:
df

,index,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,1,Boston Bruins,1990,44,24,,0.55,299,264,35
1,2,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,3,Calgary Flames,1990,46,26,,0.575,344,263,81
3,4,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,5,Detroit Red Wings,1990,34,38,,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...,...
577,601,Tampa Bay Lightning,2011,38,36,8,0.463,235,281,-46
578,602,Toronto Maple Leafs,2011,35,37,10,0.427,231,264,-33
579,603,Vancouver Canucks,2011,51,22,9,0.622,249,198,51
580,604,Washington Capitals,2011,42,32,8,0.512,222,230,-8
581,605,Winnipeg Jets,2011,37,35,10,0.451,225,246,-21

In [14]:
duplicadas = df.duplicated()
hay_duplicadas = duplicadas.any()

if hay_duplicadas:
    print("El DataFrame tiene filas duplicadas.")
else:
    print("El DataFrame no tiene filas duplicadas.")

El DataFrame no tiene filas duplicadas.